<template>
  <div class="info-container container">
    <div class="info-text mt-2">
      <h1>DIVERTIDEA</h1>
      <p>La diversion, a un click</p>
    </div>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="@/assets/img/image6-rec.jpg" class="d-block w-100" alt="image6" />
        </div>
        <div class="carousel-item">
          <img src="@/assets/img/image7-rec.jpg" class="d-block w-100" alt="image7" />
        </div>
        <div class="carousel-item">
          <img src="@/assets/img/image11-rec.jpg" class="d-block w-100" alt="image11" />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="mt-4">
      <h2>Nuestro Parque Infantil en Albacete</h2>
      <p class="mt-2">
        Divertidea es una marca innovadora de parques infantiles que trae a sus parques las
        atracciones más novedosas desde todos los rincones del mundo. Las atracciones de Divertidea
        combinan actividad física y… ¡mucha diversión!
      </p>
      <h2>¿Donde estamos?</h2>
      <p>Si quieres venir y disfrutar de nuestras atracciones, nos puedes encontrar en C. Caremen, 37, 02005 Albacete</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3100.703865295746!2d-1.8577512846466262!3d38.999254479554956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd665fbea7856153%3A0x84cf0cd60d91c4e3!2sDivertidea%20parques%20infantiles!5e0!3m2!1ses!2ses!4v1685197424921!5m2!1ses!2ses" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</template>

<script>
</script>


<style scoped lang="sass">
h1
    text-align: center
h2
    text-align: center
p
    text-align: center
</style>