<template>
  <form @submit.prevent="login">
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <div v-if="error">
                    <div class="alert alert-danger" role="alert">
                      {{ error_mesagge }}
                    </div>
                  </div>
                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-white-50 mb-5">Please enter your login and password!</p>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeEmailX">Email</label>
                    <input
                      type="email"
                      v-model="email"
                      id="typeEmailX"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typePasswordX">Password</label>
                    <input
                      type="password"
                      v-model="password"
                      id="typePasswordX"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <p class="small mb-5 pb-lg-2">
                    <a class="text-white-50" href="#!">Forgot password?</a>
                  </p>
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                  <div class="d-flex justify-content-center text-center mt-4 pt-1">
                    <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="#!" class="text-white"
                      ><i class="fab fa-twitter fa-lg mx-4 px-2"></i
                    ></a>
                    <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                  </div>
                </div>
                <div>
                  <p class="mb-0">
                    Don't have an account? <router-link to="/signin" class="text-white-50 fw-bold">Sign Up</router-link>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</template>

<script>
import { LogInUseCase } from '../usescases/auth.usecases'
import store from '../store';
export default {
  name: 'LoginPage',
  data: () => ({
    email: '',
    password: '',
    error: false,
    error_mesagge: ''
  }),
  methods: {
    async login() {
      const logInUseCase = new LogInUseCase()
      const {state, user} = await logInUseCase.execute(this.email, this.password)
      if (state === 200) {
        this.$emit('loged', 'Se ha logeado correctamente')
        store.dispatch('login', { user });
      } else if (state === 'PASSWORD_WRONG') {
        this.error = true
        this.error_mesagge = 'Contraseña Incorrecta'
      } else {
        this.error = true
        this.error_mesagge = 'Las creedenciales introducidas no son correctas'
      }
    }
  }
}
</script>

<style scoped lang="sass">
.card
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px
</style>