<template>
  <div class="container">
    <h1>Gestion de Reservas (ADMIN)</h1>
    <table class="table table-dark table-striped mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Nombre Niño</th>
          <th scope="col">Edad Niño</th>
          <th scope="col">Fecha</th>
          <th scope="col">Aceptada</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in bookings" :key="index">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.kidname }}</td>
          <td>{{ item.kidage }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item.accepted[0] }}</td>
          <td>
            <div class="icons-container">
              <i
                title="Acceptar"
                @click="manageBooking((isAccept = 'yes'), item._id)"
                class="fa-regular fa-circle-check"
              ></i>
              <i
                title="Rechazar"
                @click="manageBooking((isAccept = 'no'), item._id)"
                class="fa-solid fa-ban"
              ></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { GetAllBookingUseCase } from '../usescases/get-allBooking.usecase'
import { PutBookingUseCase } from '../usescases/put-manageBooking.usecase'

export default {
  name: 'manage-reserve',
  data() {
    return {
      bookings: []
    }
  },
  created() {
    this.getBookings()
  },
  methods: {
    async getBookings() {
      const bookingUseCaseData = new GetAllBookingUseCase()
      const token = localStorage.getItem('token')
      const { state, bookings } = await bookingUseCaseData.execute(token)
      this.bookings = bookings
    },

    async manageBooking(isAccept, id) {
      const putBookingUseCaseData = new PutBookingUseCase()
      const token = localStorage.getItem('token')
      const state = await putBookingUseCaseData.execute(isAccept, id, token)

      if (state === 200) {
        if (isAccept === 'yes') {
          this.$emit('loged', 'Reserva acceptada')
        } else {
          this.$emit('loged', 'Reserva cancelada')
        }
        setTimeout(() => {
          window.location.reload()
        }, 1500)
        this.$router.push({ name: 'manage-reserve' })
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.icons-container
  width: 4rem
  display: flex
  align-items: center
  justify-content: space-around
  i
    font-size: 1.2rem
    transition: 300ms
    &:hover
      transform: scale(1.2)
      cursor: pointer
.container
  padding: 2rem
  min-height: 68vh
h1
  text-align: center
  margin-bottom: 2rem

@media screen and (max-width: 500px)
  table
    display: block
    overflow-x: auto !important
</style>