<template>
  <div class="container">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-height"
          >
            <a
              href="/"
              class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
            >
              <span class="fs-5 d-none d-sm-inline"
                ><span class="text-secondary">Hola!</span> <b>{{ user.name }}</b></span
              >
            </a>
            <ul
              class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
              id="menu"
            >
              <li class="nav-item">
                <a
                  href="#"
                  @click="
                    showInfo = true;
                    showBookings = false;
                  "
                  class="nav-link align-middle px-0"
                >
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-secondary">Mi Perfíl</span>
                </a>
              </li>
              <!-- <li>
                          <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                              <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Reservas</span> </a>
                          <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                              <li class="w-100">
                                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                              </li>
                              <li>
                                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                              </li>
                          </ul>
                      </li> -->
              <li>
                <a
                  href="#"
                  @click="
                    showBookings = true;
                    showInfo = false;
                    getBookings()
                  "
                  class="nav-link px-0 align-middle"
                >
                  <i class="fs-4 bi-table"></i>
                  <span class="ms-1 d-none d-sm-inline text-secondary">Reservas</span></a
                >
              </li>
              <li>
                <!-- <a href="#" class="nav-link px-0 align-middle">
                              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline text-warning">Cerrar Sesion</span> </a> -->
                <a
                  class="nav-link px-0 align-middle"
                  role="button"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline text-warning">Cerrar Sesion</span>
                </a>
              </li>
            </ul>
            <hr />
          </div>
        </div>
        <div class="profile-info" v-show="showInfo">
          <h1 class="mb-5">Información Personal</h1>
          <form @submit.prevent="editUser">
            <div class="row mb-3">
                <label for="inputName" class="col-sm-2 col-form-label" >Nombre:</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="inputName" v-model="user.name">
                </div>
              </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label" >Email:</label>
              <div class="col-sm-3">
                <input type="email" class="form-control" id="inputEmail3" v-model="user.email">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPhone" class="col-sm-2 col-form-label">Telefono:</label>
              <div class="col-sm-3">
                <input type="tel" class="form-control" id="inputPhone" v-model="user.phone">
              </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="inputDate">Fecha Nacimiento:</label>
                <div class="col-sm-3">
                    <input
                  type="date"
                  v-model="userDate"
                  id="inputDate"
                  class="form-control"
                />
                </div>
              </div>
            <button type="submit" class="btn btn-success mt-2">Modificar</button>
          </form>
        </div>
        <div v-show="showBookings" class="profile-bookings">
          <h1>Reservas de {{user.name}}</h1>
          <table v-if="bookings.length" class="table table-dark table-striped mt-4">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Nombre Niño</th>
                  <th scope="col">Edad Niño</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Acceptada</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in bookings" :key="index">
                    <th scope="row">{{index + 1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.kidname}}</td>
                    <td>{{item.kidage}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.accepted[0]}}</td>
                </tr>
              </tbody>
          </table>
          <div v-else>
            <h4 class="mt-5">Realiza alguna reserva para ver tus reservas</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Cerrar Sesión</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Quieres cerrar Sesión?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" @click="logOut">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import store from '../store'
import { BookingsUseCase } from '../usescases/bookings.usecases'
import {PutUserUseCase} from '../usescases/put-user.usecase'
export default {
  name: 'profile',
  data() {
    return {
      showInfo: true,
      showBookings: false,
      userDate: '',
      bookings: []
    }
  },
  computed: {
    ...mapGetters(['isLoggedIn', 'user'])
  },
  created(){
    this.userDate = this.user.date.slice(0,10)
  },
  methods: {
    logOut() {
      let modal = document.querySelector('.modal-backdrop')
      modal.removeAttribute('class')
      let popup = document.querySelector('#logoff-popup')
      popup.classList.remove('hidden')
      setTimeout(function () {
        popup.classList.add('visible')
      }, 100)
      setTimeout(function () {
        popup.classList.remove('visible')
        setTimeout(function () {
          popup.classList.add('hidden')
        }, 500)
      }, 3000)
      this.$router.push({ name: 'info' })
      store.dispatch('logout');
      localStorage.clear()
    },

    async editUser(){
      const putUserCase = new PutUserUseCase()
      const token = localStorage.getItem('token')
      const {state, user} = await putUserCase.execute(this.user._id, this.user.name, this.user.email, this.user.phone, this.userDate, token)
      if (state === 200) {
        this.$emit('loged', 'Se ha modificado correctamente')
        store.dispatch('login', { user });
      }
    },
    async getBookings(){
        const BookingsUseCaseData = new BookingsUseCase()
        const token = localStorage.getItem('token')
        const {state, bookings} = await BookingsUseCaseData.execute(this.user._id, token)
        store.dispatch('showBookings', { bookings });
        this.bookings = bookings
    }
  }
}
</script>

<style lang="sass" scoped>

.col-auto
    border-radius: .5rem
.container-fluid
    margin: 2rem 0 2rem 0
.min-height
    min-height: 61.6vh
.profile-info
    margin-left: 2rem
.profile-bookings
    max-width: 85%
</style>