<template>
  <div class="container">
    <form @submit.prevent="reserve">
      <section class="mb-5 vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem">
                <div class="card-body p-5 text-center">
                  <div class="mb-md-5 mt-md-4 pb-5">
                    <div v-if="error">
                      <div class="alert alert-danger" role="alert">
                        {{ error_mesagge }}
                      </div>
                    </div>
                    <h2 class="fw-bold mb-2 text-uppercase">Reservar</h2>
                    <p class="text-white-50 mb-5">Introduce la información necesaria</p>
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeName">Nombre</label>
                      <input
                        type="text"
                        v-model="name"
                        id="typeName"
                        class="form-control form-control-lg"
                        required
                      />
                    </div>
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeKidname">Nombre Niño</label>
                      <input
                        type="text"
                        v-model="kidname"
                        id="typeKidname"
                        class="form-control form-control-lg"
                        required
                      />
                    </div>
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeKidage">Edad Niño</label>
                      <input
                        type="number"
                        v-model="kidage"
                        id="typeKidage"
                        class="form-control form-control-lg"
                        required
                      />
                    </div>
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeQuantity">Numero Niños</label>
                      <input
                        type="number"
                        v-model="quantity"
                        id="typeQuantity"
                        class="form-control form-control-lg"
                        required
                      />
                    </div>
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeDate">Fecha</label>
                      <input
                        type="date"
                        v-model="date"
                        id="typeDate"
                        class="form-control form-control-lg"
                        required
                      />
                    </div>
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">
                      Reservar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { PostBookingUseCase } from '../usescases/post-booking.usecase'
import store from '../store'
export default {
  name: 'reserve',
  data: () => ({
    name: '',
    kidname: '',
    kidage: {
      type: Number
    },
    quantity: {
      type: Number
    },
    date: {
      type: Date
    },
    error: false,
    error_mesagge: ''
  }),
  computed: {
    ...mapGetters(['isLoggedIn', 'user'])
  },
  methods: {
    async reserve() {
      const booking = {
        name: this.name,
        kidname: this.kidname,
        accepted: 'no',
        kidage: this.kidage,
        date: this.date,
        quantity: this.quantity,
        userid: this.user._id
      }
      const token = localStorage.getItem('token')
      const postBooking = new PostBookingUseCase()
      const state = await postBooking.execute(booking, token)
      if (state === 200) {
        this.$emit('loged', 'Reserva hecha con exito')
        this.$router.push({ name: 'profile' })
      } else if (state === 'DATE_IN_USE') {
        this.error = true
        this.error_mesagge = 'Fecha no disponible'
      } else {
        this.error = true
        this.error_mesagge = 'Revisa los datos y vuelve a enviar'
      }
    }
  }
}
</script>

<style scoped lang="sass">
h1,p
    text-align: center
</style>