<template>
    <div class="rules-container container">
        <h1>Reglas generales del parque infantil Divertidea</h1>
        <h2>Para asegurar el disfrute y la seguridad de todos los niños y adultos, establecemos una serie de reglas generales en los parques infantiles Divertidea. </h2>
        <ul>
            <li>En nuestros parques todos los niños a partir de 1 año y hasta una altura máxima de 140cm deben comprar una entrada para poder acceder al parque</li>
            <li>Con la entrada se entrega una pulsera que debe permanecer puesta en todo momento y un ticket que ha de conservarse hasta la salida.</li>
            <li>Los niños solo pueden abandonar el parque con el adulto identificado en la pulsera.</li>
            <li>El uso de calcetines antideslizantes es obligatorio.</li>
            <li>Está prohibida la entrada al parque con enfermedades que puedan ser contagiadas (gripe, varicela, piojos, etc.).</li>
            <li>Está prohibida la entrada al parque con bebidas y comida del exterior.</li>
            <li>Está prohibido el acceso de adultos en el área de juego infantil (a excepción de la zona de bebés si así lo hubiese).</li>
            <li>Está prohibida la entrada con objetos peligrosos o afilados.</li>
            <li>En todo momento los niños deberán prestar atención y obedecer las recomendaciones del monitor.</li>
            <li>Divertidea no se hace responsable de ninguna lesión que pueda ocurrir dentro del parque por no seguir las reglas.</li>
            <li>Cuida de tus pertenencias, Divertidea no se hace responsable de los objetos dañados, robados ni olvidados en el parque.</li>
            <li>El consentimiento informado y estas normas han de ser aceptadas y firmadas previa a la entrada al establecimiento.</li>
        </ul>
    </div>
</template>

<script></script>
<style lang="sass" scoped>
.rules-container
    h1,h2
        margin: 2rem 0 2rem 0
        text-align: center
    li
        margin: 1rem 0 1rem 0
    ul
        margin: 3rem 0 3rem 0
    

</style>