<template>
  <form @submit.prevent="signin">
    <section class=" mb-5 vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class=" row d-flex justify-content-center align-items-center h-100">
          <div class=" col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <div v-if="error">
                    <div class="alert alert-danger" role="alert">
                      {{ error_mesagge }}
                    </div>
                  </div>
                  <h2 class="fw-bold mb-2 text-uppercase">Sign In</h2>
                  <p class="text-white-50 mb-5">Please enter your information</p>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="nameX">Name</label>
                    <input
                      type="text"
                      v-model="name"
                      id="nameX"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeEmailX">Email</label>
                    <input
                      type="email"
                      v-model="email"
                      id="typeEmailX"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typePasswordX">Contraseña</label>
                    <input
                      type="password"
                      v-model="password"
                      id="typePasswordX"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="phoneX">Telefono</label>
                    <input
                      type="tel"
                      v-model="phone"
                      id="phoneX"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="dateX">Fecha Nacimiento</label>
                    <input
                      type="date"
                      v-model="date"
                      id="dateX"
                      class="form-control form-control-lg"
                    />
                  </div>
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign In</button>
                </div>
                <div>
                  <p class="mb-0">
                    Do you have an account?
                    <router-link to="/login" class="text-white-50 fw-bold">Log in</router-link>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</template>
<script>
import { LogInUseCase, SignInUseCase } from '../usescases/auth.usecases'
export default {
  name: 'SignInPage',
  data: () => ({
    email: '',
    password: '',
    name: '',
    date: {
      type: Date
    },
    phone: '',
    error: false,
    error_mesagge: ''
  }),
  methods: {
    async signin() {
      const signInUseCase = new SignInUseCase()
      const state = await signInUseCase.execute(
        this.name,
        this.email,
        this.password,
        this.phone,
        this.date
      )
      if (state === 200) {
        this.$router.push({ name: 'login' })
      } else if (state === 'PHONE_IN_USE') {
        this.error = true
        this.error_mesagge = 'Telefono ya en uso'
      } else if (state === 'EMAIL_IN_USE') {
        this.error = true
        this.error_mesagge = 'Email ya en uso'
      } else {
        this.error = true
        this.error_mesagge = 'Revisa los datos y vuelve a enviar'
      }
    }
  }
}
</script>

<style scoped lang="sass">
.card
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px
</style>