<template>
  <div class="footer-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <img src="@/assets/DivertideaIcon.png" alt="logo" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <dl>
            <dd><router-link to="/rules">Reglas Generales</router-link></dd>
            <dd><a href="#">Politica de Privacidad</a></dd>
            <dd><a href="#">Politica de Coockies</a></dd>
          </dl>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <h2>Contacto</h2>
          <dl>
            <dd>Divertidea</dd>
            <dd>C. Carmen, 37</dd>
            <dd>02005 - Albacete</dd>
            <dd>603643736</dd>
          </dl>
        </div>
      </div>
      <br />
      <div class="copyright">
        <p><b>© 2022 DIVERTIDEA.</b></p>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
.col-sm-12
  margin: 1rem 0 1rem 0
  text-align: center
img
    width: 7rem
    height: 7rem
.footer-container
    background-color: #212529
    font-size: 0.8rem
    color: white
    padding-bottom: 1rem

.container
    width: 61vw
    a
        text-decoration: none
        color: white
.copyright
    text-align: center
    i
        padding-right: 0.3rem
    h2
        font-size: 1.5rem
        padding: 1rem 0 1rem 0
    img
        max-width: 80%
.row
    align-items: center
    justify-content: center
    margin: auto
</style>