<template>
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid d-flex">
        <router-link to="/"><img src="@/assets/DivertideaIcon.png" alt="icon" /></router-link>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link class="nav-link active" aria-current="page" to="/"
                >Información</router-link
              >
            </li>
            <li class="nav-item">
              <router-link to="/rules" class="nav-link">Reglas</router-link>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contactanos</a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse end" id="navbarNavDropdown">
          <ul v-show="!isLoggedIn" class="navbar-nav">
            <li class="nav-item">
              <router-link class="nav-link active" aria-current="page" to="/login"
                ><i class="fa-solid fa-right-to-bracket"></i
              ></router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link active" aria-current="page" to="/signin"
                ><i class="fa-solid fa-user-plus"></i
              ></router-link>
            </li>
          </ul>
          <ul v-if="isLoggedIn" class="navbar-nav">
            <li class="nav-item">
              <span class="navbar-text"> {{ user.name }} </span>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-user"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <router-link
                    class="dropdown-item"
                    to="/profile"
                    >Perfil</router-link
                  >
                </li>
                <li><RouterLink class="dropdown-item" to="/reserve">Reservar</RouterLink></li>
                <li>
                  <router-link class="dropdown-item" to="/manage-reserve" v-if="user.role == 'admin'"
                    >Gestion Reservas (Admin)</router-link
                  >
                </li>
                <li>
                  <a class="dropdown-item text-warning" href="#" @click="logOut">Cerrar Sesion</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import router from '../router'
import { mapGetters } from 'vuex';
import store from '../store';
import { RouterLink } from 'vue-router';
export default {
  components: { router, RouterLink },
  data() {
    return {}
  },
  computed: {
    ...mapGetters(['isLoggedIn', 'user'])
  },
  methods: {
    logOut() {
      this.$emit('logout')
      store.dispatch('logout');
      localStorage.clear()
    }
  }
}
</script>

<style lang="sass" scoped>
.navbar-text
  margin-right: 1rem
.nav-item
  display: flex
  justify-content: center
  align-items: center
.navbar
  width: 100%
  border-radius: .5rem
.end
  justify-content: flex-end
img
  width: 45px
  height: 45px
  margin-right: 4rem
</style>