

<template>
  <body>
    <div class="hidden alert alert-success" id="logon-popup" role="alert">
      {{this.textSuccess}}
    </div>
    <div class="hidden alert alert-danger" id="logoff-popup" role="alert">
      Has cerrado sesion :(
    </div>
    <div class="navbar">
      <navBar :user="user" @logout="logoutFn"> </navBar>
    </div>
    <div class="content">
      <RouterView @loged="loginFn"/>
    </div>
    <div class="footer">
      <footer-lay></footer-lay>
    </div>
  </body>
</template>

<script>
import { RouterLink, RouterView } from 'vue-router'
import navBar from './layout/navBar.vue'
import footerLay from './layout/footer.vue'

export default {
  name: 'App',
  components: {
    navBar,
    footerLay
  },
  data() {
    return {
      isLogged: false,
      textSuccess: '',
      user: {}
    }
  },
  methods: {
    loginFn(message) {
      this.textSuccess = message
      let popup = document.querySelector('#logon-popup')
      popup.classList.remove('hidden')
      setTimeout(function () {
        popup.classList.add('visible')
      }, 100)
      setTimeout(function () {
        popup.classList.remove('visible')
        setTimeout(function () {
          popup.classList.add('hidden')
        }, 500)
      }, 3000)
      this.$router.push({ name: 'info' })
    },
    logoutFn() {
      let popup = document.querySelector('#logoff-popup')
      popup.classList.remove('hidden')
      setTimeout(function () {
        popup.classList.add('visible')
      }, 100)
      setTimeout(function () {
        popup.classList.remove('visible')
        setTimeout(function () {
          popup.classList.add('hidden')
        }, 500)
      }, 3000)
      this.$router.push({ name: 'info' })
    }
  }
}
</script>
<style scoped lang="sass">
body
  display: flex
  flex-direction: column
#logoff-popup,#logon-popup
  width: 20rem
  position: fixed
  transform: translateX(-50%)
  z-index: 2
  top: -100%
  left: 50%
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)
  transition: top 0.5s ease-in-out
.hidden
  color: none
#logoff-popup.visible
  top: 10%
#logon-popup.visible
  top: 10%
.content
  height: 90%
</style>
